<header class="header-area">
    <div class="header-icon">
      <%= image_tag "site-logo.jpg", :size => '200x74' %>
    </div>
    <ul class="header-list">
      <li class="list-content">Top
      <li class="list-content">This Site
      <li class="list-content">My Profile
      <li class="list-content">Contact
    </ul>
</header>
<main>
  <div class="title-area">
    <p class="site-title">
      IDE's Portfolio Site
    </p>
  </div>
  <div class="welcome-area">
    <h3 class="welcome-title">
      我がポートフォリオサイトにお越しくださり、<br />
      ありがとうございます。
    </h3>
    <p class="welcome-contents sentence underline">
      このサイトは、未経験エンジニア転職を目指す私、IDEを<br />
      知っていただくためにまとめたページです。<br />
      どうぞごゆるりとご覧くださいませ。<br />
    </p>
  </div>
  <div class="profile-area">
    <div class="profile-title-area">
      <h3 class="title">
        私のこと。
      </h3>
      <div class="my-icons">
        <%= image_tag 'my-icon.jpg', class:"my-icon", :size => '120x120' %>
        <ul class="profile-icons">
          <li class="twitter-icon"><%= link_to image_tag('twitter-logo.png', :size => '48x36'), 'https://twitter.com/programmingnuoh' %>
          <li class="github-icon"><%= link_to image_tag('github-logo.png', :size => '48x48'), 'https://github.com/programmingnuoh' %>
          <li class="hatena-icon"><%= link_to image_tag('hatena-logo.svg', :size => '72x72'), 'https://t.co/FCUoXZJScg?amp=1' %> 
        </ul>
      </div>
    </div>
    <p class="profile-contents sentence">
      　生まれも育ちも埼玉の生粋さいたまん(26~27歳)。服飾系の大学でファッション/デザイン史を<br />
      学んだのち、かばん・財布の卸商社へ入社。営業に従事する傍ら、企画や広報の業務にも携わる。<br />
      営業をする中で、IT技術で世の課題解決ができるものを開発したいと思い、エンジニア転職を決意、現在に至る。<br />
    </div>
  </div>
  <div class="work-area">
    <h3 class="title">
      作ったもの。
    </h3>
    <p class="work-title">アプリケーション</p>
    <div class="work-contents">
      <div class="work-content"></div>
      <div class="work-content"></div>
    </div>
  </div>
  <div class="skill-area">
    <h3 class="title">
      私ができること。
    </h3>
    <div class="skill-contents-area">
      <div class="skill-contents">
        <div class="skill-content programming">HTML</div>
        <div class="skill-content programming">CSS</div>
        <div class="skill-content programming">Ruby</div>
      </div>
      <div class="skill-contents">
        <div class="skill-content programming">Ruby on Rails</div>
        <div class="skill-content programming">JavaScript</div>
        <div class="skill-content programming">GitHub</div>
      </div>
      <div class="skill-contents">
        <div class="skill-content others">TOEIC(685点)</div>
        <div class="skill-content others">Photoshop</div>
        <div class="skill-content others">Illustrator</div>
      </div>
    </div>
  </div>
  <div class="history-area">
    <h3 class="title">
      私の今まで。
    </h3>
    <section id="history-contents">
      <div class="timeline-start">1994/07<br />爆誕</div>
      <div class="conference-center-line"></div>
      <div class="conference-timeline-content">
        <div class="timeline-article">
          <div class="content-left-container">
            <div class="content-head">
              <div class="year-box">
                <span>2007</span>
              </div>
              <div class="history-images">
                <span class="material-icons">videocam</span>
                <span class="material-icons">mic</span>
                <span class="material-icons">group</span>
              </div>
            </div>
            <div class="content-left">
              <p>埼玉県内のとある中高一貫校に入学。高校時代には放送部に所属し、ドキュメンタリーやドラマの制作を行なっていた。そのときの仲間は今でも最高の友人たち。</p>
            </div>
          </div>
          <div class="meta-date"></div>
        </div>

        <div class="timeline-article">
          <div class="content-right-container">
            <div class="content-head">
              <div class="year-box">
                <span>2013</span>
              </div>
              <div class="history-images">
                <span class="material-icons">checkroom</span>
                <span class="material-icons">iron</span>
                <span class="material-icons">auto_stories</span>
              </div>
            </div>
            <div class="content-right">
              <p>ファッションが学べる大学へ進学。作品制作等でファッションに対する基礎知識を深めた後、デザイン史ゼミに所属する。
              このときに本当に知りたいことを学んでいくうちに勉強の楽しさを実感する。</p>
            </div>
          </div>
          <div class="meta-date"></div>
        </div>

        <div class="timeline-article">
          <div class="content-left-container">
            <div class="content-head">
              <div class="year-box">
                <span>2017</span>
              </div>
              <div class="history-images">
                <span class="material-icons">badge</span>
                <span class="material-icons">luggage</span>
                <span class="material-icons">directions_transit</span>
              </div>
            </div>
            <div class="content-left">
              <p>カバン・財布の卸商社へ入社。法人営業として全国展開するお取引先様の担当になり、日本各地を駆け巡る。
              各ご担当の方を仕事をしていく中で、お客様のことを第一に考えた商品展開について熟考する。チーム内で売り上げが1番になったときは嬉しかった。</p>
            </div>
          </div>
          <div class="meta-date"></div>
        </div>

        <div class="timeline-article">
          <div class="content-right-container">
            <div class="content-head">
              <div class="year-box">
                <span>2018</span>
              </div>
              <div class="history-images">
                <span class="material-icons">backpack</span>
                <span class="material-icons">style</span>
                <span class="material-icons">design_services</span>
              </div>
            </div>
            <div class="content-right">
              <p>新規プロジェクトに企画・営業として携わる。商品企画を1から行なった。外部展示会に出展し、注文もいただいたがその後思うように売れず1年ほどでプロジェクトは終了してしまった。
              お客様のニーズに応えられる商品企画をすることの難しさを学んだ。</p>
            </div>
          </div>
          <div class="meta-date"></div>
        </div>
 
        <div class="timeline-article">
          <div class="content-left-container">
            <div class="content-head">
              <div class="year-box">
                <span>2019</span>
              </div>
              <div class="history-images">
                <span class="material-icons">shopping_bag</span>
                <span class="material-icons">devices</span>
                <span class="material-icons">contact_mail</span>
              </div>
            </div>
            <div class="content-left">
              <p>百貨店向けブランドを扱う子会社へ出向。ECモールに出店されている小売店の営業を担当。単価が異なる商品の営業に四苦八苦する。</p>
            </div>
          </div>
          <div class="content-right-container">
            <div class="content-head">
              <div class="year-box">
                <span>2019</span>
              </div>
              <div class="history-images">
                <span class="material-icons">brush</span>
                <span class="material-icons">palette</span>
                <span class="material-icons">photo_camera</span>
              </div>
            </div>
            <div class="content-right">
              <p>出向と同時に営業の傍ら広報としても携わる。お取引先様向けのカタログやバナーの作成などを行っている。
              IllustratorやPhotoshopを学習するため、オンライン講座を見たり、社内のデザイナーさんからアドバイスをいただいたりなどをすることでソフトに対する知見を学んだ。</p>
            </div>
          </div>
          <div class="meta-date"></div>
        </div>

        <div class="timeline-article">
          <div class="content-left-container">
            <div class="content-head">
              <div class="year-box">
                <span>2020</span>
              </div>
              <div class="history-images">
                <span class="material-icons">laptop_mac</span>
                <span class="material-icons">code</span>
                <span class="material-icons">local_fire_department</span>
              </div>
            </div>
            <div class="content-left">
              <p>エンジニア転職を目指し、プログラミングの学習を始める。ただモノを生産するだけでなく、どのようにお客様のもとへ届けるか考えた末辿り着いたのがITだった。
              より良い商品をもっと多くの方のもとへ届けたいという考えから転職を志す。</p>
            </div>
          </div>
          <div class="meta-date"></div>
        </div>
      </div>
      <div class="timeline-end">To be continued...</div>
    </section>
  </div>
  <div class="mind-area">
    <h3 class="title">
      私が大切にしていること。
    </h3>
    <p class="mind-contents sentence">
      　私は、常にエンドユーザーの目線を意識して仕事に取り組んで<br />
      まいりました。商品の見せ方、売り方、謳い文句…。<br />
      買ってよかった！使ってよかった！と思っていただけるように試行錯誤を繰り返していました。<br />
      　この気持ちは、エンジニアになっても変わらず大切にしていきたいと考えています。<br />
      お客様の使ってよかった！を聞くために、より良いサービスを<br />
      開発できるよう、今後も仕事に従事していきます。<br />
    </p>
  </div>
  <div class="contact-area">
    <h3 class="title">お問合せ</h3>
    <div class="contact-contents">
    <%= form_with model: @contact, local:true do |f| %>
      <%= f.text_field :name, placeholder:'お名前', class:"contact-content" %><br>
      <%= f.text_field :mail_address, placeholder:'返信先のメールアドレス', class:"contact-content" %><br>
      <%= f.text_area :message, placeholder: 'お問合せ内容',class:"contact-content message" %><br>
      <%= f.submit "送信",class:"contact-content submit" %>
    <% end %>
    </div>
  </div>
  <div class="welcome-area">
    <h3 class="welcome-title">
      最後までご覧いただき、<br />
      ありがとうございました。
    </h3>
    <p class="welcome-contents sentence underline">
      このサイトを見てくださった皆様にお会いできる日を<br />
      心より楽しみにしております。<br />
    </p>
  </div>

</main>
<footer class="footer-area">
  <p class="copyright">Copyright ©️IDE's Portfolio Site All rights reserved.</p>
</footer>